QLabel {
	background: url("ds40.png");
	background-color: transparent;
	color: white;
	font-size: 16px;
	font-family:Monospace;
	font-weight:bold;
	border-radius: 7px;
	}
	
QLabel#speed {
	color: yellow;
	font-size: 25px;
	font-family: Impact;
	}	
	